#!/bin/sh
set -x # echo on

#
# config
#

export DRONE_SERVER=http://drone.hvt.zone
export DRONE_TOKEN=TODO
export RANCHER_ACCESS_KEY=TODO
export RANCHER_SECRET_KEY=TODO
export DOCKER_USERNAME=TODO
export DOCKER_PASSWORD=TODO

#
# add
#

echo
export REPOSITORY=high-value-team/hello
drone repo add $REPOSITORY
drone secret add -repository $REPOSITORY -name docker_username -value $DOCKER_USERNAME
drone secret add -repository $REPOSITORY -name docker_password -value $DOCKER_PASSWORD
drone secret add -repository $REPOSITORY -name rancher_access_key -value $RANCHER_ACCESS_KEY
drone secret add -repository $REPOSITORY -name rancher_secret_key -value $RANCHER_SECRET_KEY

echo
export REPOSITORY=high-value-team/featureforecast
drone repo add $REPOSITORY
drone secret add -repository $REPOSITORY -name docker_username -value $DOCKER_USERNAME
drone secret add -repository $REPOSITORY -name docker_password -value $DOCKER_PASSWORD
drone secret add -repository $REPOSITORY -name rancher_access_key -value $RANCHER_ACCESS_KEY
drone secret add -repository $REPOSITORY -name rancher_secret_key -value $RANCHER_SECRET_KEY

echo
export REPOSITORY=high-value-team/totalorder
drone repo add $REPOSITORY
drone secret add -repository $REPOSITORY -name docker_username -value $DOCKER_USERNAME
drone secret add -repository $REPOSITORY -name docker_password -value $DOCKER_PASSWORD
drone secret add -repository $REPOSITORY -name rancher_access_key -value $RANCHER_ACCESS_KEY
drone secret add -repository $REPOSITORY -name rancher_secret_key -value $RANCHER_SECRET_KEY

echo
export REPOSITORY=high-value-team/groupbox
drone repo add $REPOSITORY
drone secret add -repository $REPOSITORY -name docker_username -value $DOCKER_USERNAME
drone secret add -repository $REPOSITORY -name docker_password -value $DOCKER_PASSWORD
drone secret add -repository $REPOSITORY -name rancher_access_key -value $RANCHER_ACCESS_KEY
drone secret add -repository $REPOSITORY -name rancher_secret_key -value $RANCHER_SECRET_KEY