#!/bin/sh

set -x # echo on

# copy paste from previous step: provision-and-configure-servers
export RANCHER_URL=TODO
export RANCHER_ACCESS_KEY=TODO
export RANCHER_SECRET_KEY=TODO

rancher up -d --rancher-file drone/rancher-compose.yml --file drone/docker-compose.yml --stack drone
rancher up -d --rancher-file featureforecast/rancher-compose.yml --file featureforecast/docker-compose.yml --stack featureforecast
rancher up -d --rancher-file groupbox/rancher-compose.yml --file groupbox/docker-compose.yml --stack groupbox
rancher up -d --rancher-file totalorder/rancher-compose.yml --file totalorder/docker-compose.yml --stack totalorder
rancher up -d --rancher-file hello/rancher-compose.yml --file hello/docker-compose.yml --stack hello
rancher up -d --rancher-file nginx/rancher-compose.yml --file nginx/docker-compose.yml --stack nginx

# make sure it is last, so that all HAProxy configurations are properly configured
rancher up -d --rancher-file loadbalancer/rancher-compose.yml --file loadbalancer/docker-compose.yml --stack loadbalancer

echo visit http://drone.hvt.zone/account/token to get DRONE_TOKEN