aws_access_key="TODO"
aws_secret_key="TODO"
aws_region="eu-central-1"
aws_ssh_key_name="rancher-user"
aws_security_group="rancher-server"

rancher_access_key="4B179B3F7EA0B99207A1"
rancher_secret_key="XtAhroXhULpqtQQrB4pzAr1dKsEsUMvQJRQ9NYd8"
rancher_server_ip="35.156.231.154"
rancher_server_private_dns="ip-172-31-18-46.eu-central-1.compute.internal"
rancher_url="http://35.156.231.154:8080"