#!/bin/sh

set -x # echo on

export AWS_REGION_NAME=eu-central-1
export AWS_ACCESS_KEY_ID=TODO
export AWS_SECRET_ACCESS_KEY=TODO
export AWS_HOSTED_ZONE_ID=ZQ6N4ERG12VKR
export AWS_DNS_NAME=hvt.zone.
export AWS_SSH_KEY_NAME=frankfurt-rancher
export AWS_SSH_KEY_PATH=id_rsa.pem # copy ssh-key into this directory
export AWS_IMAGE_ID=ami-28422647
export AWS_SECURITY_GROUP_ID=sg-a83164c5
export RANCHER_USERNAME=admin
export RANCHER_PASSWORD=admin
export NUMBER_OF_HOSTS=0

python main.py
